<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>FlightName</key>
		<string>AM1456</string>
		<key>OriginAirport</key>
		<string>EWR</string>
		<key>DestinationAirport</key>
		<string>MKE</string>
		<key>FlightDateTime</key>
		<date>2016-12-19T22:47:32Z</date>
		<key>FlightDuration</key>
		<real>4.5</real>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>UA2456</string>
		<key>OriginAirport</key>
		<string>FLA</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-19T06:00:32Z</date>
		<key>FlightDuration</key>
		<real>5.5</real>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>BA0001</string>
		<key>OriginAirport</key>
		<string>FLA</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-20T22:00:32Z</date>
		<key>FlightDuration</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>AM0023</string>
		<key>OriginAirport</key>
		<string>MKE</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-21T19:45:32Z</date>
		<key>FlightDuration</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>BA0122</string>
		<key>OriginAirport</key>
		<string>EWR</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-20T20:00:32Z</date>
		<key>FlightDuration</key>
		<real>6</real>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>BA0102</string>
		<key>OriginAirport</key>
		<string>EWR</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-20T21:00:32Z</date>
		<key>FlightDuration</key>
		<real>6.2</real>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>UA8723</string>
		<key>OriginAirport</key>
		<string>FLA</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-21T11:00:32Z</date>
		<key>FlightDuration</key>
		<real>6.5</real>
		<key>Updated</key>
		<true/>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>UA0002</string>
		<key>OriginAirport</key>
		<string>FLA</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-20T12:00:32Z</date>
		<key>FlightDuration</key>
		<real>7.5</real>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>AM8767</string>
		<key>OriginAirport</key>
		<string>FLA</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-19T05:00:32Z</date>
		<key>FlightDuration</key>
		<real>6.5</real>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>UA6764</string>
		<key>OriginAirport</key>
		<string>FLA</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-20T09:15:32Z</date>
		<key>FlightDuration</key>
		<real>7.5</real>
	</dict>
	<dict>
		<key>FlightName</key>
		<string>BA4572</string>
		<key>OriginAirport</key>
		<string>MKE</string>
		<key>DestinationAirport</key>
		<string>SFO</string>
		<key>FlightDateTime</key>
		<date>2016-12-19T20:25:32Z</date>
		<key>FlightDuration</key>
		<real>5.5</real>
	</dict>
</array>
</plist>
